@charset "UTF-8";

body, html {
	min-width: 850px;
	max-width: 1400px;
	margin: 0 auto;
	background: #262626;
}

.mainheader {
	background: black;
	text-align: center;
	padding: 0;
	margin-bottom: 0px;
}

.maintitle {
	color: red;
	font-weight: 800;
	font-size: 4em;
	margin-bottom: -2px;
}

.subtitle {
	color: white;
	position: relative;
	top: -10px;
	margin-bottom: 0px;
}

.topnav {
	background-color: #4c4c4d;
	overflow: hidden;
	padding-left: 20px;
}

.topnav a {
	float: left;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 17px;
	color: white;
	font-weight: 500;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.mainmenu {
	margin: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.loginzone{
    position: absolute;
    right: 250px;
}

.loginbtn{
	width: 80px;
    font-size: 1.3em;
    font-weight: 600;
    margin-right: 15px;
    padding: 0;
    height: 40px;
    margin-top: 3px;
}

.joinbtn{
}


